<ion-content>
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col col-8 text-center color="primary">
                    <ion-img width="100%" color="primary" src="../assets/imgs/logo-white.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col col-10 text-left>
                    <div class="inputArea">
                        <ion-icon name="person" text-center></ion-icon>
                        <ion-input placeholder="Usuario" type="text" [(ngModel)]="account.username" name="username"></ion-input>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col col-10 text-left>
                    <div class="inputArea">
                        <ion-icon name="medical" text-center></ion-icon>
                        <ion-input placeholder="Clave" type="password" [(ngModel)]="account.password" name="password"></ion-input>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col col-10 text-center>
                    <button ion-button color="button" block (click)="ingresar()">INGRESAR</button>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-content>
