page-login {
    
    .content {
        background: color($colors, primary);
    }
    
    ion-img {
        padding-top: 35px;
        padding-bottom: 19px;
    }
    
    .inputArea {
        border: 1px solid color($colors, inputBorder);
        border-radius: 5px;
        padding: 0px;
        position: relative;
        height: 43px;
        background: color($colors, input);
    }
    
    .icon {
        width: 47px;
        height: 100%;
        background: color($colors, bgIcon);
        color: color($colors, fgIcon);
        vertical-align: top;
        font-size: 25px;
        line-height: 43px;
    }
    
    .input {
        width: calc( 100% - 60px );
        height: 100%;
        display: inline-block;
        padding: 14px 13px;
        background: color($colors, input);
        font-family: Roboto;
        font-size: 13px;
    }
    
    .input input {
        margin: unset;
    }
    
    .button {
        margin-top: 50px;
        border: 1px solid color($colors, buttonBorder);
        border-radius: 5px;
    }
    
}
