<!--
  Generated template for the BodegaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>Bodega</ion-title>
        
        <ion-buttons end>
            <button ion-button icon-only (click)="openModal()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col col-10 text-center>
                <ion-title text-center>Selecciona una Bodega</ion-title>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-10 text-center>
                <ion-item>
                    <ion-label color="fgLabel" stacked text-left>Bodega</ion-label>
                    <ion-input type="text" [(ngModel)]="textoBusqueda" (input)="cambioTexto($event.target.value)"></ion-input>
                </ion-item>
                <ion-list no-lines class="listaBusqueda" *ngIf="desplegar">
                    <button ion-item *ngFor="let item of listaBodegas" (click)="itemSeleccionado(item)">{{ item.name }}</button>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-10 text-center>
                <button ion-button color="button" block (click)="irAResiduos()">Siguiente</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
