page-bodega {
    
    ion-content ion-title {
        margin-top: 22px;
        margin-bottom: 65px;
    }
    
    ion-content .item{
        padding-left: 0px;
    }
    
    ion-content ion-input {
        font-size: 30px;
    }
    
    ion-content .button {
        margin-top: 55px;
    }
    
    ion-content .listaBusqueda{
        position: absolute;
        padding: 2px;
        margin-top: 1px;
        background: #FFFFFF;
        border: 1px #cccccc solid;
        width: 99%;
        z-index: 1;
    }
    
    ion-content .listaBusqueda .item{
        padding: 1px 5px;
    }
    
}
