<!--
  Generated template for the PesoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>Peso</ion-title>
        
        <ion-buttons end>
            <button ion-button icon-only (click)="openModal()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col col-10 text-center>
                <ion-title text-center>Cantidad en Kilos</ion-title>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-10 text-center>
                <ion-item>
                    <ion-label color="fgLabel" stacked text-left>Peso en kg.</ion-label>
                    <ion-input type="number" min="1" autocomplete="on" [(ngModel)]="objCarga.peso"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-10 text-center>
                <button ion-button color="button" block (click)="validarPeso()" >Siguiente</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
