page-peso {
    
    ion-content ion-title {
        margin-top: 22px;
        margin-bottom: 65px;
    }
    
    ion-content .item{
        padding-left: 0px;
    }
    
    ion-content ion-input {
        font-size: 30px;
    }
    
    ion-content .button {
        margin-top: 55px;
    }
    
}
