// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$img-placeholder-background: none;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #0f70a9,
  
  fgLabel:      #cccccc,
  
  avatar:       rgba(0, 0, 0, 0.26),
  
  bgIcon:       #3fb9da,
  fgIcon:       #ffffff,
  
  input:        #ffffff,
  inputBorder:  #cccccc,
  
  button:       #58b957,
  buttonBorder: #48af46
  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$checkbox-ios-background-color-off: #cccccc;
$checkbox-ios-icon-border-color-off: #cccccc;
$checkbox-ios-icon-size: 24px;
$checkbox-ios-icon-checkmark-width: 2px;
$checkbox-ios-icon-border-width: 3px;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$checkbox-md-icon-background-color-off: #cccccc;
$checkbox-md-icon-border-color-off: #cccccc;
$checkbox-md-icon-size: 24px;
$checkbox-md-icon-checkmark-width: 2px;
$checkbox-md-icon-border-width: 5px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
