<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>Residuos</ion-title>
        
        <ion-buttons end>
            <button ion-button icon-only (click)="openModal()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col col-10 text-center>
                <ion-title text-center>Tipo de residuos</ion-title>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-10 text-center>
                <ion-list no-lines>
                    <ion-item *ngFor="let item of listaResiduos">
                        <ion-avatar item-start>{{ item.codigo }}</ion-avatar>
                        <ion-label>{{ item.nombre }}</ion-label>
                        <ion-checkbox [(ngModel)]="item.seleccionado" item-end></ion-checkbox>               
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-10 text-center>
                <button ion-button color="button" block (click)="irAPeso()">Siguiente</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
