page-residuos {

    ion-content ion-title {
        margin-top: 22px;
        margin-bottom: 55px;
    }
    
    ion-avatar{
        background: color($colors, avatar);
        text-align: center;
        border-radius: 50%;
        line-height: 38px;
        width: 40px;
        height: 40px;
    }
    
    ion-content .item{
        padding-left: 0px;
    }
    
    ion-content .icon {
        border-radius: 10px;
        width: 20px;
        height: 20px;
        background: red;
        display: block;
    }
    
    ion-content .button {
        margin-top: 35px;
    }

}
