<!--
  Generated template for the ResultadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>Carga Lista</ion-title>
        
        <ion-buttons end>
            <button ion-button icon-only (click)="openModal()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
